.cbp-spmenu {
    background: #edf2f4;
    position: fixed;
    overflow: hidden;
}

.cbp-spmenu a {
    display: block;
    color: #000;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow-y: scroll;
}

.cbp-spmenu-vertical a {
    padding: 1em;
}

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.menu-open {
    left: 0px;
}

.cbp-spmenu-right.menu-open {
    right: 0px;
}

.push-body-left {
    overflow-x: hidden;
    position: absolute;
    top: 10%;
    left: 30px;
}

.push-body-right {
	overflow-x: hidden;
	position: absolute;
	top: 10%;
	right: 30px;
}

.push-body-toright {
    left: 240px;
}

.push-body-toleft {
    left: -240px;
}

.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
}

